<h4>Datos Históricos</h4>

<div>
  <label for="tiempo">Seleccione el tiempo:</label>
  <select id="tiempo" [(ngModel)]="tiempoSeleccionado" (ngModelChange)="repintaHistorial()">
    <option [ngValue]="15">15 minutos</option>
    <option [ngValue]="30">30 minutos</option>
    <option [ngValue]="60">60 minutos</option>
    <option [ngValue]="120">120 minutos</option>
    <option [ngValue]="300">300 minutos</option>
  </select>
</div>

<canvas baseChart width="1000" height="fit"
        [type]="'line'"
        [data]="lineChartDataDB"
        [options]="lineChartOptionsDB"
        [legend]="lineChartLegendDB">
</canvas>
