<html>
  <body>
    <mat-grid-list cols="1" rowHeight="5:1">
      
        <mat-grid-tile>
          <mat-card>
            <app-sensor-temp></app-sensor-temp>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card>
            <app-sensor-humedad></app-sensor-humedad>
          </mat-card>
        </mat-grid-tile>
  
      
        <mat-grid-tile>
          <mat-card>
            <app-historial>
            </app-historial>
          </mat-card>
        </mat-grid-tile>
      
      
    </mat-grid-list>
  </body>

</html>





